.button(@outline: #color[primary]; @background: transparent) {
  background: @background;
  border: 0.2rem solid @outline;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: 2rem;
  color: @outline;
  transition: all @TRANSISTION-SPEED;

  &:hover, &:focus {
    outline: none;
    background: if(@background = transparent, @background, @outline);
    color: if(@background = transparent, @outline, @background);
    border: 0.2rem solid if(@background = transparent, @outline, @background);
    border-radius: 1rem;
  }
}

.text-gradient(@from; @to: @from; @angle: 90deg; @fromStop: ~''; @toStop: ~'') { // (https://cssgradient.io/blog/css-gradient-text/)
  color: @from; // fallback (https://codepen.io/mrozilla/pen/rGYyjv)
  background: linear-gradient(@angle, @from @fromStop, @to @toStop);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.background-image(@imageURL) {
  position: relative;

  &::before {
    content: "";
    background: url(@imageURL);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.center-content(@direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: @direction;
}