#font() {
  primary: @monsterrat;
  accent: @unifraktur;
}

#color() {
  primary: @dark-slate;
  secondary: @deep-mate-grey;
  tertiary: @silver-fox;
  accent-light: @are-ya-yellow;
  accent-dark: @honey;
}