// fonts
@monsterrat: 'Montserrat', sans-serif;
@unifraktur: 'UnifrakturCook', serif;

// colors (https://hookagency.com/website-color-schemes/)
@are-ya-yellow: #feda6a;
@honey: #dcae1d;
@silver-fox: #d4d4dc;
@deep-matte-grey: #393f4d;
@dark-slate: #1d1e22;

// constants
@TRANSISTION-SPEED: 200ms;